body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
}

.contenedor-principal {
    background-color: #f0f0f2;
    width: 400px;
    padding: 20px;
    border-radius: 30px;
    box-sizing: border-box;
    min-height: 480px;
    border-top: 5px solid #fff;
    border-left: 3px solid #fff;
    box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.15), 0 12px 24px rgba(0, 0, 0, 0.2);
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.bloque-base {
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    font-weight: bold;
    text-align: center;
    padding: 22px 15px;
    border-radius: 12px;
    box-sizing: border-box;
    border-top: 5px solid rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 -8px 12px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.color-header {
    background-color: #f65a77;
}

.color-nav {
    background-color: #2ed573;
    padding: 4px 15px;
    margin-top: -7px;
}

.seccion-intermedia {
    display: flex;
    gap: 15px;
}

.color-aside {
    background-color: #ffafbd;
    width: 30%;
    align-content: center;
}

.color-main {
    background-color: #74b9ff;
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 15px;
}

.color-article {
    background-color: #0984e3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.color-section {
    background-color: #00a8ff;
}

.color-figure {
    background-color: #ffeaa7;
    width: 50%;
    align-self: center;
}

.color-footer {
    background-color: #a55eea;
}

.color-p {
    background-color: #badc58;
    margin-top: -12px;
    width: 80%;
    align-self: center;
}

.bloque-base:hover {
    filter: brightness(1.05);
}

.bloque-base:active {
    transform: translateY(4px);
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.3), 0 2px px rgba(0, 0, 0, 0.1);
}

.color-article, .color-section, .color-footer {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}